<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forex Monsters Signals Enrolment</title>
</head>
<body>
    <p>Dear {{ full_name }}</p>
    <h2>Thank you for your successful payment.</h2>
    <p>Enter your copied USER ID below:</p>
    <form action="/generate-signals-link", method="POST">
        <input type="text" name="user_id" id="userId" placeholder="USER ID">
        <button type="submit">Generate access link</button>
    </form>
   <p>Incase you didn't catch your USER ID, go back get it, a link to this page will be in your Selar Receipt email. Activation is time limited so get back as soon as possible.</p>
</body>
</html>